// base
@import 'base/config';
@import 'base/base';
@import 'base/fonts';
@import 'base/typo';

// elements
@import 'elements/form';
@import 'elements/link';
@import 'elements/button';
@import 'elements/list';
@import 'elements/card';
@import 'elements/code';
@import 'elements/blockquote';

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
